.nav{
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: #333;
    color: white;
}
.nav ul{
    height: 80px;
    display: flex;
    justify-content:end;
    padding: 0 30px;
    margin: 0;
}
.nav li{
    list-style: none;
    display: flex;
    align-items: center;
}
.liLink ul{
    padding: 0;
}
.liLink{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
   color: #EDEDED;
   margin-left: 5px;
   text-decoration: none;
   transition: filter 300ms ease-in;
}
.button {
    border-radius: 8px;
    border: 1px solid #E6621F;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: filter 300ms ease-in;
    color: white;
  }
  .nav a:hover {
    filter: drop-shadow(0 0 2em rgba(238,123,4,1));
  }